* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1rem/1.5 sans-serif;
  height: 100vh;
  display: grid;
  grid: minmax(100px, auto) repeat(2, auto) minmax(200px, auto) / 10vw 1fr 10vw;
  grid-template-areas:
    ". sectionHeader ."
    ". sectionOne ."
    ". sectionTwo ."
    ". sectionFooter .";
  justify-content: center;
  align-items: top;
}

/* BODY GRID */

.sectionHeader {
  grid-area: "sectionHeader";
}
.sectionOne {
  grid-area: "sectionOne";
}
.sectionTwo {
  grid-area: "sectionTwo";
}
.sectionFooter {
  grid-area: "sectionFooter";
}

.header,
.footer {
  background: rgba(150, 150, 150, 0.5);
}

/* Utilities */

img {
  display: block;
}

/* HEADER */

.logo-container {
  width: 100%;
}

.menu-list {
  min-width: 500px;
}

.menu-item {
  display: inline-block;
  list-style: none;
  font-weight: 500;
  font-size: 2rem;
  padding: 0 1rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #666;
}

a:hover,
a:active {
  color: #333;
}

/* SECTION ONE */

.grid-one {
  display: grid;
  place-content: center;
  grid: 100px 90px 25px 25px 100px 100px 80px / repeat(4, 1fr);
  gap: 15px;
  padding: 15px 0;
}

/* SECTION TWO */

.grid-two {
  display: grid;
  place-content: center;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  padding-bottom: 5px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-item {
  max-width: 130px;
  padding: 1em 0.5em;
  margin: 0 2em;
  color: #999;
  text-align: center;
  border: 2px solid rgba(153, 153, 153, 0.6);
  border-radius: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  .menu-list {
    min-width: 420px;
  }

  .menu-item {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
